.contactItem {
  display: flex;
  width: 250px;
  height: 75px;
  line-height: 15px;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  align-items: center;
}

.btnDell {
  background-color: #efefef;
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  height: 40px;
}
